

:root {
    --primary-color: #0077B6;
    --secondary-color: #00B4D8;
    --accent1-color:#90E0EF;
    --accent2-color: #CAF0F8;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    padding: 5px 25px 5px 25px;
}

header img {
    width: 150px;
}

header nav {
    display: flex;
    padding: 0;
}

header nav a {
    border: 1px solid black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia a > img {
    width: 20px;
}

footer {
    display: flex;
    justify-content: right;
    gap: 150px;
    background-color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

article h5 {
    padding: 50px;
    border: 1px solid black;
    text-align: left;
    color: white;
    font-size: larger;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article {
    position: absolute;
    top: 120px;
    justify-items: center;
    background-color: rgba(105, 103, 103, 0.7);
}


.hero article img {
    float: right;
    width: 150px;
}

section {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

section .textholder {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

section .textholder p {
    font-size: 15px;
    padding-left: 15px;
    text-align: justify;

}

section .textholder img {
    width: 20%;
    height: 24%;
}

section .imgholders {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.imgholders figure img {
    box-sizing: border-box;
    width: 150px;
}


