main{
    max-width: 840px;
}

main img {
    max-width: 50%;
    height: auto;
}



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

aside {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    color: black;
    border: 1px solid black;
    text-align: center;
}



